

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


{% load staticfiles %}
<link href="{% static 'dist/equinox.css' %}" rel="stylesheet">
<script src="{% static 'dist/equinox.min.js' %}"></script>

<script>
    const myEvents = [
        {% for day, details in days.items %}
        {
          start: '{{  day.date }}',
          end: '{{  day.date }}',
          title: '{{ day.date }} ({% for project in details.projects %}{{ project.name }}{% if not forloop.last %}; {% endif %}{% endfor %})',
          url: '{%url 'day_detail' slug=day.slug %}'
        },
        {% endfor %}
    ];

    $(function() {
        $('.event-calendar').equinox({
            events: myEvents
        });
    })
</script>


<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="event-calendar"></div>

</body>
</html>