<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function() {
        $('#start-datepicker').datepicker();
        $('#end-datepicker').datepicker();
    })

    $(document).ready(function() {
        $('#query-form').submit(function(e) {
            e.preventDefault();
            var numberPattern = /\d+/g;
            url_pattern = '';
            total = $('.project').length;
            $('.project').each(function(index) {
                if(this.checked) {
                    url_pattern += $(this).attr('value')+ ',';
                }
                if (index == total -1 && url_pattern) {
                    url_pattern = '?project=' + url_pattern.substring(0, url_pattern.length - 1);
                }
            });

            if (url_pattern ==='') {
                url_pattern='?project=ALL';
            }

            total2 = $('.division_choice').length;
            divisions = ''
            $('.division_choice').each(function(index) {
                if(this.checked) {
                    divisions += $(this).attr('value')+ ',';
                }
                if (index == total2 -1 && url_pattern) {
                    url_pattern += '&construction_divisions=' + divisions;
                }
            });

            try {
                start_date = $('#start-datepicker').val().match(numberPattern);
                start_date = '&start_date=' + start_date[2] + '-' + start_date[0] + '-' + start_date[1];
                url_pattern = url_pattern + start_date;
            } catch (e) {
                url_pattern += '&start_date=1900-01-01'
            }

            try {
                end_date = $('#end-datepicker').val().match(numberPattern);
                end_date = '&end_date=' + end_date[2] + '-' + end_date[0] + '-' + end_date[1];
                url_pattern = url_pattern + end_date;
            } catch (e) {

            }
            console.log(url_pattern);
            window.open('/search/' + url_pattern, '_self');
        })
    })
</script>

<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load humanize %}
{% if total_labor_spend %}
{% if date_start %}
<h2>From: {{ date_start }} to {{ date_end }}</h2>
{% endif %}
{% if project or multi_projects %}
<h2>{% if multi_projects %}Projects: {% for project in multi_projects %}{{ project }}{% if not forloop.last %}; {% endif %}{% endfor %}{% else %}Project: {{ project }}{% endif %}</h2></h2>
{% if construction_divisions_queried %}
<h2>Construction Divisions</h2>{% for division in construction_divisions_queried %}{{ division }}{% if not forloop.last %}, {% endif %}{% endfor %}
{% endif %}
<div class="bootstrap-table">
    <table id="table" class="table table-striped table-hover" data-toggle="table" data-search="true">
        <thead>
            <th>Projects</th>
            <th>Total Amount Spent (Labor)</th>
            <th>Total Spend (Incl. Expenses)</th>
            <th>Days Worked</th>
        </thead>
        <tbody>
            <tr>
                <td>{% if multi_projects %}{% for project in multi_projects %}<a href="{% url 'project_detail' slug=project.slug %}">
                    {{ project.address }}{% if not forloop.last %}; {% endif %}</a>{% endfor %}{% else %}<a href="{% url 'project_detail' slug=project.slug %}">{{ project.address }}</a>{% endif %}</td>
                <td>{{ total_labor_spend }}</td>
                <td>{{ total_spend|floatformat:"2"|intcomma }}</td>
                <td>{% for day in work_days %}<a href="{%url 'workday_detail' slug=day.slug %}">{{ day.date }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% else %}
    <h3>Desired Projects</h3>
    <form id="query-form" autocomplete="off">
    {% for project in all_projects %}
        <input type="checkbox" value="{{ project.slug }}" id="{{ project.name }}" class="project">
        <label for="{{ project.name }}">{{ project.name }}</label>
    {% endfor %}
    <h3>Desired Construction Choices</h3>
    {% for choice in all_construction_division_choices %}
        <input type="checkbox" value="{{ choice.0 }}" id="{{ choice.0 }}" class="division_choice">
        <label for="{{ choice.0 }}">{{ choice.1 }}</label>
    {% endfor %}
    </select>
        <p><h3>Start Date</h3><input type="text" id="start-datepicker"></p>
        <p><h3>End Date</h3><input type="text" id="end-datepicker"></p>
    <button type="submit" form="query-form">Search</button>
    </form>
{% endif %}
</body>
</html>