<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.min.js"></script>

    <style>
        .display {
            width: 400px;
        }
    </style>
    <script>
    {% if workday.file_set %}
            var media_assets = []
            {% for file in workday.file_set.all %}
                {% load static %}
                media_assets.push("{% get_static_prefix %}{{ file.file }}");
            {% endfor %}

    function display_assets () {
        $.each(media_assets, function(i, v) {
                if (v.indexOf('.jpg') !== -1 || v.indexOf('.jpeg') !== -1 || v.indexOf('.png') !== -1 || v.indexOf('.gif') !== -1) {
                    $('.media').append("<div><a href=" + v + "><img class='display' src=" + v+ "></a></div>");
                } else if (v.indexOf('.mov') !== -1 || v.indexOf('.mp4') !== -1) {
                    $('.media').append("<div><video width='400' preload controls><source src=" + v + " type='video/mp4'></video></div>");
                } else {
                    $('.media').append("<div><a href=" + v + ">" + v + "</a>");
                }
            })
    }
    {% endif %}
    </script>

    <meta charset="UTF-8">

</head>
<body {% if workday.file_set %}onload="display_assets()"{% endif %}>
{% if day %}
    <h1>{{ day.date }}</h1>
    <a href="{% url 'admin:expenses_day_change' day.id %}">Edit Day</a>
    {% for id, project in day.projects.items %}
        <h2><a href="{%url 'project_detail' slug=project.project.slug %}">{{ project.project }}</a></h2>
        {% if project.work_days %}
            <h2><u>Laborers</u></h2>
            {% for work_day in project.work_days %}
                <h3>Description</h3>
                {{ work_day.description|linebreaks }}
                <h3>Employees</h3>
                {% for employee in work_day.employee.all %}<a href="{%url 'employee_detail' slug=employee.slug %}">{{ employee.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                (Labor Spend: {{ work_day.daily_labor_spend }})
                <h3>Construction Division</h3>
                 {{ work_day.get_division_choice_display }}
                {% if workday.file_set.all %}
                    <h3>Media</h3>
                    <div class="media">
                    </div>
                    {% for file in workday.file_set.all %}test{% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if project.expenses %}
            <h2><u>Expenses</u></h2>
            {% for expense in project.expenses %}
                {{ expense.amount }} | ({{ expense.description }}) | {{ expense.get_division_choice_display }}
                {% if expense.file %}
                    <p><a href="{% get_static_prefix %}{{ expense.file }}"><img class="display"src="{% get_static_prefix %}{{ expense.file }}"></a></p>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if project.files %}
            <h2><u>Files</u></h2>
            {% for file in project.files %}
                <p><a href="{% get_static_prefix %}{{ file }}"><img class="display"src="{% get_static_prefix %}{{ file }}"></a></p>
            {% endfor %}
        {% endif %}
        <h3>Total Daily Labor Cost for Project</h3>
        {{ project.total_labor_spend }}
        <h3>Total Daily Non-Labor Expenses for Project</h3>
        {{ project.total_expense_spend }}
        <h3>Total Daily Cost for Project</h3>
        {{ project.daily_total_spend }}
        <hr>
    {% endfor %}
    <h2>Daily Total Spend: {{ daily_total_spend }}</h2>
{% endif %}
</body>
</html>