<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function() {
        $('#start-datepicker').datepicker();
        $('#end-datepicker').datepicker();
    })

    $(document).ready(function() {
        $('#query-form').submit(function(e) {
            e.preventDefault();

            expense_amount = $('#expense-amount').val();
            url_pattern  = '?expense=' + expense_amount;

            console.log(url_pattern);
            window.open('/expense_search/' + url_pattern, '_self');
        })
    })
</script>

<body>
{% load humanize %}
{% if expenses %}
    {% for expense in expenses %}
        <p>{{ expense.amount }} | <a href="{%url 'project_detail' slug=expense.project.slug %}">{{ expense.project }}</a> | {{ expense.description }} | <a href="{%url 'day_detail' slug=expense.day.slug %}">{{ expense.day }}</a> | {{ expense.get_division_choice_display }}</p>
    {% endfor %}
{% else %}
    <h3>Expense Amount</h3>
    <form id="query-form" autocomplete="off">
        <p><h3>Amount</h3><input type="text" id="expense-amount"></p>
    <button type="submit" form="query-form">Search</button>
    </form>
{% endif %}
</body>
</html>