<!DOCTYPE html>
<html>
    <head lang="en">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

    <script>
        $(function () {
            var $table = $('#table');
            var $search = $table.data('bootstrap.table')
                .$toolbar.find('.search input');
            $search.attr('placeholder', 'Search');
            $('.search').toggleClass('pull-right').toggleClass('pull-left');
        });

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_3CNnV9Acvy2WAktrXOLvH6PU7Vt2MZo&callback=initMap">
    </script>
    <script>
        function initMap() {
            var uluru = {lat: {{ project.lat }}, lng: {{ project.lng }} };

            var street_view = new google.maps.StreetViewPanorama(document.getElementById('street_view'), {
                position: uluru,
        });

      }
    </script>
    <style>
        .table-responsive{
            overflow-y: hidden;
        }
    </style>
    <style>
        #street_view {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load humanize %}
<div id="street_view"></div>
{% if project %}
    <h3>Days Worked</h3>
    {% if days %}
        {% for day, details in days.items %}
            <div>
                <a href="{%url 'day_detail' slug=day.slug %}">{{ day.date }}</a> ({% for employee in details.employees %}<a href="{%url 'employee_detail' slug=employee.slug %}">{{ employee.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</a>)
            </div>
        {% endfor %}
    {% endif %}
    <h3>Total Labor Spend</h3>
    <p>{{ total_labor_spend|floatformat:"2"|intcomma }}</p>
    <h3>Total Expense Spend</h3>
    <p>{{ total_expense_spend|floatformat:"2"|intcomma }}</p>
    <h3>Total Spend</h3>
    <p>{{ total_spend|floatformat:"2"|intcomma }}</p>
    <h3>Construction Breakdown</h3>
    {% for division_type, value in construction_divisions.items %}
        <p>{{ division_type }}: {{ value.number_of_days }} days ({% for day in value.days %}<a href="{%url 'day_detail' slug=day.slug %}">{{ day.date }}{% if not forloop.last %}, {% endif %}</a>{% endfor %})
            | Total Labor Spend: {{ value.labor_spend|floatformat:"2"|intcomma }} | Total Expense Spend: {{ value.expense_spend|floatformat:"2"|intcomma }} | Total Spend: {{ value.total_spend|floatformat:"2"|intcomma }}</p>
    {% endfor %}

{% endif %}
</body>