<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.min.js"></script>

    <style>
        .display {
            width: 400px;
        }
    </style>
    <script>
    {% if workday.file_set %}
            var media_assets = []
            {% for file in workday.file_set.all %}
                {% load static %}
                media_assets.push("{% get_static_prefix %}{{ file.file }}");
            {% endfor %}

    function display_assets () {
        $.each(media_assets, function(i, v) {
                if (v.indexOf('.jpg') !== -1 || v.indexOf('.jpeg') !== -1 || v.indexOf('.png') !== -1 || v.indexOf('.gif') !== -1) {
                    $('.media').append("<div><a href=" + v + "><img class='display' src=" + v+ "></a></div>");
                } else if (v.indexOf('.mov') !== -1 || v.indexOf('.mp4') !== -1) {
                    $('.media').append("<div><video width='400' preload controls><source src=" + v + " type='video/mp4'></video></div>");
                } else {
                    $('.media').append("<div><a href=" + v + ">" + v + "</a>");
                }
            })
    }
    {% endif %}
    </script>

    <meta charset="UTF-8">

</head>
<body {% if workday.file_set %}onload="display_assets()"{% endif %}>
{% if workday %}
    <h1>{{ workday.date }}</h1><a href="{% url 'admin:expenses_workday_change' workday.id %}">Edit Work Day</a>
    <h2>{{ workday.project }}</h2>
    <h3>Description</h3>
    {{ workday.description|linebreaks }}
    <h3>Laborers</h3>
    {% for employee in workday.employee.all %}<a href="{%url 'employee_detail' slug=employee.slug %}">{{ employee.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
        {% if expenses %}
    <h3>Expenses</h3>
        {% for expense in expenses %}
            {{ expense.amount }} | {{ expense.description }}
            {% if expense.file %}
            <p><a href="{% get_static_prefix %}{{ expense.file }}"><img class="display"src="{% get_static_prefix %}{{ expense.file }}"></a></p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h3>Daily Total Labor Cost</h3>
    {% if daily_spend %}{{ daily_spend }}{% endif %}
    <h3>Daily Total Expense</h3>
    {{ daily_expense_spend }}
    <h3>Daily Total Spend</h3>
    {{ daily_total_spend }}
    {% if workday.construction_division %}
    <h3>Construction Division</h3>
          <p>{{ workday.construction_division.get_division_choice_display }}</p>
    {% endif %}
    {% if workday.file_set.all %}
        <h3>Media</h3>
        <div class="media">
        </div>
        {% for file in workday.file_set.all %}test{% endfor %}
    {% endif %}
{% endif %}
</body>
</html>